.skills-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.skills-title {
  font-size: 2.5rem;
  color: #e50914; /* Netflix red */
  margin-bottom: 30px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.skill-category {
  background: #f1dede;
  border-radius: 10px;
  padding: 1.5rem;
}

.skill-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.skill-icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.skill-name {
  font-size: 0.9rem;
}

.skill-level {
  font-size: 0.8rem;
  color: #e7cfcf85;
  margin-top: 0.3rem;
}

.skill-card {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  color: #e6e6e6;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 0, 0, 0.5); /* Netflix red glow on hover */
  cursor: pointer;
}

.icon {
  font-size: 2rem;
  color: #e50914; /* Netflix red */
  margin-bottom: 10px;
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(-20px);
  animation: dropIn 0.5s forwards ease-out;
}

@keyframes dropIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill-description {
  font-size: 0.9rem;
  color: #999;
}

.skills-title {
  font-size: 2.5rem;
  color: #5a0c10; /* Netflix red */
  margin-bottom: 30px;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 1s ease forwards;
}

/* Category Animation */
.category-title {
  font-size: 1.8rem;
  color:rgba(230, 230, 230, 0.4);
  margin: 30px 0 20px;
  border-bottom: 2px solidrgba(229, 9, 20, 0.55);
  padding-bottom: 5px;
  display: inline-block;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeSlideIn 0.8s ease forwards;
}

.category-title:nth-child(1) {
  animation-delay: 0.2s;
}
.category-title:nth-child(2) {
  animation-delay: 0.4s;
}
.category-title:nth-child(3) {
  animation-delay: 0.6s;
}
.category-title:nth-child(4) {
  animation-delay: 0.8s;
}
.category-title:nth-child(5) {
  animation-delay: 1s;
}

/* Keyframe for Slide and Fade-in Animation */
@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(10);
  }
}
